
# Explicitly declare text files we want to always be normalized and converted
# to native line endings on checkout.

# CMake / txt
*.txt text
*.cmake text
*.in text
*.md text
*.tex text
*.rst text
*.cfg text
*.ini text
README text

## C/C++/Cuda code
*.c text
*.C text
*.cc text
*.cpp text
*.cu text
*.inl text
*.h text
*.H text
*.hpp text
*.cuh text
*.ui text

## Python
*.py text

## HTML / Javascript
*.html text
*.css text
*.php text
*.js text
*.ts text
*.json text

## Shaders
*.glsl text
*.hlsl text
*.frag text
*.vert text
*.geo text
*.geom text
*.tessctrl text
*.tesseval text

## Scenes
*.scn text
*.xml text
*.view text

## Scripts
*.bat text eol=crlf
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.sh text eol=lf
*.awk text
*.yml text
